/*Universal*/
* {
    padding: 0;
    margin: 0;
}

/*Body*/


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

body {
    font-family: "Lato", sans-serif;
    color: #f9f9f9;
    background-image: url("https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=100");
    background-blend-mode: darken;
    background-position-y: -200px;
    background-position-x: -260px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: hide;

}

/*HEADER*/

.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 21px;
    animation: fade-in 0.5s;
}

.logo {

    font-size: 21px;
    font-weight: 700;
}

.links {
    list-style: none;
    display: flex;
    gap: 19px
}

.link-items {}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    font-size: 14px;
    transform: color 0.5s;

}

.link:hover {
    color: rgba(255, 255, 255, 1);

}


/* main */

.main {
    text-align: center;
    margin-top: 50px;
    animation: fade-in 0.7s 0.6s backwards;

}

.heading {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.8;
}

.text {

    font-size: 24px;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    line-height: 1.4;



}

.text-bold {
    font-weight: 700;

}


.form {
    margin-top: 19px;
}

.input {
    width: 511px;
    height: 64px;
    border: none;
    border-radius: 3px;
    opacity: 0.8;
    padding-left: 30px;
    font-size: 17px;
    font: inherit;
    outline: none;



}

.input:focus {
    opacity: 1;
    transition: all 0.6s;
}

.input::placeholder {
    color: #000
}

.btn {
    border: none;
    background-color: #000;
    height: 64px;
    width: 133px;
    color: #fff;
    font: inherit;
    border-radius: 3px;
    margin-left: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    transition: all 1s;
}

.btn:hover {
    cursor: pointer;
    background-color: #161616;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font: inherit;
    padding-bottom: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    animation: fade-in 1s 0.2s backwards;

}

.copyright {

}

.stats {
    
}